:root {
    --gridSize : 16;
}

.PlayGrid {
    display: grid;
    grid-template : repeat(var(--gridSize), 1fr) / repeat(var(--gridSize), 1fr);

    border-top: 5px solid #7b7b7b;
    border-left: 5px solid #7b7b7b;
    border-right: 5px solid white;
    border-bottom: 5px solid white;

    height : 60vh; 
    width : 60vh; 
}