:root {
    --gridSize : 16;
}

.PlayGrid {
    display: grid;
    grid-template : repeat(var(--gridSize), 1fr) / repeat(var(--gridSize), 1fr);

    padding: 5px;
    background-image: url('../../assets/tile/closed_rotated.png');
    background-size: cover;

    height : 60vh; 
    width : 60vh; 
}