.UpperBar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 20px;
    
    border-top: 5px solid #7b7b7b;
    border-left: 5px solid #7b7b7b;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

.Smile {
    aspect-ratio: 1;
    height: 75%;
    background-size: cover;
    background-image: url('/src/assets/smile/smile.png');

    cursor: pointer;
}

.Smile:active {
    background-image: url('/src/assets/smile/smile_pressed.png');
}

.Smile.Scared {
    background-image: url('/src/assets/smile/scared.png');
}

.Smile.Win {
    background-image: url('/src/assets/smile/win.png');
}

.Smile.Lose {
    background-image: url('/src/assets/smile/lose.png');
}